{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'main/js/scripts.js' %}"></script>
    <script src="https://kit.fontawesome.com/12d38e87b7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
     <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <aside>
        <home>
            <a href="{% url 'home' %}" style="text-decoration:none"><li><i class="fa-sharp fa-solid fa-house"></i> Главная</li></a>
        </home>
        <h3>Навигация:</h3>
        <ul>
<!--            <a href="" style="text-decoration:none"><li><i class="fa-sharp fa-solid fa-user"></i> Профиль</li></a>-->
            <a href="{% url 'order_home' %}" style="text-decoration:none"><li><i class="fa-solid fa-list"></i> Заказы</li></a>
            <a href="{% url 'product_home' %}" style="text-decoration:none"><li><i class="fa-solid fa-utensils"></i> Меню</li></a>
            <div class="basket-container">
                <a href="{% url 'checkout' %}" style="text-decoration:none"><li><i class="fa-solid fa-basket-shopping" ></i> Корзина<p id="basket_total_nmb" style="float:right;margin-right:60px">
                    {% if products_total_nmb %}
                        ({{ products_total_nmb }})
                    {% else %}
                        (0)
                    {% endif %}
                </p></li></a>
                    <div class="basket-items d-none" >
                        <div>
                            {% for product_in_basket in products_in_basket %}
                                <p class="text-center" style="color:#f6a976;">{{ product_in_basket.product.name }}:  x{{ product_in_basket.nmb}}
                                    по {{ product_in_basket.price_per_item }} ₽
                                    <a class="delete-item" href="" data-product_id="{{ product_in_basket.id }}">x</a>
                                </p>
                            {% endfor %}
                        </div>
                    </div>
            </div>
<!--            <a href="{% url 'about' %}" style="text-decoration:none"><li><i class="fa-sharp fa-solid fa-circle-question"></i> О нас</li></a>-->
<!--            <a href="{% url 'contacts' %}" style="text-decoration:none"><li><i class="fa-sharp fa-solid fa-paper-plane"></i> Контакты</li></a>-->
        </ul>
    </aside>


    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>